  * {
  box-sizing: border-box;
}

  body {
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  color: #515076;
  margin: auto;
  padding: 0;
  justify-content: center;
}


.title {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 70px;
  line-height: 78px;
  letter-spacing: 0%;
  text-align: center;
}

.container {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  width: 1110px;
  margin: 0 auto;
  justify-content: center;

}

.cards {
  background-color: #F7F7FA;
  padding: 25px;
  text-align: left;
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cards img {
  display: block;
  box-sizing: border-box;
  width: 290px;
  height: 245px;
}

.text-product {
  display: block;
  padding: 25px 0 0;
  width: 100%;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
}

.compaund {
  font-size: 13px;
}

.compaund-list {
  font-size: 13px;
}

.category {
  font-size: 12px;
  line-height: 24px;
  color: #A5A3B9;
}

.discription {
  font-size: 13px;
  line-height: 18px;
}
