  * {
  box-sizing: border-box;
}

  body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  color: #515076;
}

.compound {
  padding: 0px
}
.card__compound {
  font-size: 13px;
}

.compound__name {
  font-size: 13px;
  line-height: 18px;
  padding-left: 5px;
  margin-bottom: 5px;
}
.compound__list {
  font-size: 13px;
  padding-left: 25px;
  margin-bottom: 25px;
}

.title {
  display: block;
  text-align: center;
}

.card {
  background-color: #F7F7FA;
  padding: 25px;
  text-align: left;
  width: 100%;
}

.card__image {
  display: block;
  box-sizing: border-box;
  width: 290px;
  height: 245px;
}

.card__name {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 0px ;
}
.card__description {
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 15px;
  font-weight: 400;
}

.card__description p:first-child {
  margin-top: 0;
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  line-height: 24px;
}

.card__category {
  font-size: 12px;
  line-height: 24px;
  color: #A5A3B9;
  font-weight: 400;
  margin-bottom: 5px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  width: 1110px;
  justify-content: center;
  margin: 0 auto;
}


.products__item {
width: 340px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.catalog__container{
background-image: url("../img/dandelion-background.png");
background-repeat: no-repeat;
background-position: 0 0;
background-size: 790px 697px;
padding-top: 1px;
}

.catalog__title {
  font-weight: 400;
  font-size: 70px;
  line-height: 78px;
  margin-top: 220px;
  margin-bottom: 110px;
}


.change-color-btn {
  background-color: #0909bb;
}