body {
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  color: #515076;
  margin: 0;
  width: 1280;
  height: 1715;
  opacity: 1;

}


.title {
  font-family: Montserrat;
  font-weight: 400;
  font-style: Regular;
  font-size: 70px;
  line-height: 78px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 30px;
  justify-content: center;
}

.cards {
  background-color: #F7F7FA;
  padding: 25px;
  text-align: left;
  width: 340px;
  height: 573px;
  top: 408px;
  left: 85px;
}

.cards img {
  display: block;
  width: 290px;
  height: 245px;
}

.text-product {
  display: block;
  padding: 25px 25px 25px 25px;
  height: 245px;
  width: 290px;
}
